html,body{
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
    background-color: rgba(0,0,0,0.5);
    transition: opacity 300ms;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    cursor: wait;
}

.viz-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    transition: opacity 300ms;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    background-color: red;
}

.map-container {
    flex: 1 1 auto;
    width: 100%;
    background-color: yellow;
}

.controls-container {
    flex: 0 0 auto;
    width: 100%;
    background-color: green;
}